/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
{
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~@ionic/angular/css/display.css";

@font-face {
    font-family: raleway;
    src: url("../fonts/Raleway-Regular.ttf") format('truetype');
}

@font-face {
    font-family: bebasneue;
    src: url("../fonts/BebasNeue-Regular.otf") format("opentype");
}

@font-face {
    font-family: bebasneue;
    src: url("../fonts/BebasNeue-Regular.ttf") format('truetype');
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #ffffff;
    background-image: url("../img/logo_2019 white.webp");
    background-image: linear-gradient(top, #A7A7A7 0%, #ffffff 51%);
    background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #ffffff 51%);
    background-image: -ms-linear-gradient(top, #A7A7A7 0%, #ffffff 51%);
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #A7A7A7), color-stop(0.51, #ffffff) );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    font-family: bebasneue,'BebasNeue','BebasNeue-Regular', raleway, 'Raleway-Regular','HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    width: 100%;
    transition: background-color .5s;
}

/* Portrait layout (default) */
.app {
    background: url(../img/wcksd.png) no-repeat center; /* 170px x 200px */
    position: absolute; /* position in the center of the screen */
    left: 50%;
    top: 14%;
    height: 48px; /* text area height */
    width: 428px; /* text area width */
    text-align: center;
    padding: 0px 0px 0px 0px;
    padding-bottom: 20px;
    margin: 0px 0px 0px 0px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: left center;
        padding: 140px 0px 0px 0px; /* padding-top + padding-bottom + text area = image height */
        margin: -115px 0px 0px -112px; /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size: 48px;
    font-family: 'BebasNeue', sans-serif;
    font-weight: 900;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
    text-shadow: 2px 2px white;
}

h2 {
    font-size: 20px;
    font-family: 'BebasNeue', sans-serif;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
}

h3 {
    font-size: 17px;
    font-family: 'BebasNeue', sans-serif;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
}

h4 {
    font-size: 100px;
    font-family: 'BebasNeue', sans-serif;
    font-weight: 900;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
    text-shadow: 2px 2px white;
}

h5 {
    font-size: 48px;
    font-family: 'BebasNeue', sans-serif;
    font-weight: 900;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
    text-shadow: 2px 2px white;
}

h6 {
    font-size: 24px;
    font-family: 'BebasNeue', sans-serif;
    font-weight: 900;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
    text-shadow: 2px 2px white;
}

h7 {
    font-size: 14px;
    font-family: 'BebasNeue', sans-serif;
    font-weight: 900;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
    text-shadow: 2px 2px white;
}

input[type=text] {
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
	 
	background-color: #ffffff;
    background-image: linear-gradient(top, #A7A7A7 0%, #ffffff 51%);
    background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #ffffff 51%);
    background-image: -ms-linear-gradient(top, #A7A7A7 0%, #ffffff 51%);
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #A7A7A7), color-stop(0.51, #ffffff) );
    background-attachment: fixed;
}

input[type=password] {
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
	 
	background-color: #ffffff;
    background-image: linear-gradient(top, #A7A7A7 0%, #ffffff 51%);
    background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #ffffff 51%);
    background-image: -ms-linear-gradient(top, #A7A7A7 0%, #ffffff 51%);
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #A7A7A7), color-stop(0.51, #ffffff) );
    background-attachment: fixed;
}

select{
    border-radius: .5em;
	padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
	
	background-color: #ffffff;
    background-image: linear-gradient(top, #A7A7A7 0%, #ffffff 51%);
    background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #ffffff 51%);
    background-image: -ms-linear-gradient(top, #A7A7A7 0%, #ffffff 51%);
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #A7A7A7), color-stop(0.51, #ffffff) );
    background-attachment: fixed;
}

input[type=submit] {
	border-radius: .5em;
	padding:4px;
    border:none;
    border-bottom:1px solid #ccc;
	
	background-color: #ffffff;
    background-image: linear-gradient(top, #A7A7A7 0%, #ffffff 51%);
    background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #ffffff 51%);
    background-image: -ms-linear-gradient(top, #A7A7A7 0%, #ffffff 51%);
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #A7A7A7), color-stop(0.51, #ffffff) );
    background-attachment: fixed;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    background-image: url("paper.gif");
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 2px 2px #000000;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

    .sidenav a:hover {
        color: #f1f1f1;
        text-shadow: 2px 2px #B00C13;
    }

    .sidenav a:hover:not(.active) {
        background-color: #880505;
    }

    .sidenav a.active {
        background-color: #D8D8D8;
        color: white;
        text-shadow: 2px 2px #B00C13;
    }

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 26px;
    margin-left: 0px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

span:hover {
    color: #f1f1f1;
    text-shadow: 2px 2px #000000;
}


/* Style the header */
.header {
    background-color: #880505; /*#A7A7A7;*/
    text-align: center;
    width: 100%;
    height: auto;
    position: sticky;
    transition: background-color .5s;
    box-shadow: 2px 2px #fff;
}

.footer {
    background-color: #880505; /*#A7A7A7;*/
    text-align: center;
    width: 100%;
    height: auto;
    position: page;
    transition: background-color .5s;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    border-top-color: white;
    bottom:auto;
}

.content {
    padding: 30px;
    text-align: justify;
    width: auto;
    height: auto;
    transition: background-color .5s;
}

/*ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B00C13; /*#D8D8D8;
    width: 100%;
    position: -webkit-sticky; /* Safari 
    position: sticky;
    top: 0;
    z-index: +4;
}

ul.topnav li {
    float: left;
    border-right: 1px solid #bbb;
}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    font-family: 'BebasNeue', sans-serif;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #db121a;
}

ul.topnav li a.active {
    background-color: #7e0a0f;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 300px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}*/

#map {
    width: 100%;
    height: auto;
    background-color: grey;
    z-index: -1;
}

.img_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left:10px;
    padding-right:10px;
    max-width: 100%;
    height: auto;
}

.img_left {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    padding-right: 20px;
    width: auto;
    height: auto;
}

.img_right {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right;
    padding-right: 20px;
    width: auto;
    height: auto;
}

#imagesMain {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
    width: auto;
    height: auto;
}

    #imagesMain img {
        vertical-align: middle;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }

.img_hover:hover {
    background-color: #D8D8D8;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button {
    background-color: #A7A7A7;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1:hover {
    background-color: #555555;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-family: 'BebasNeue', sans-serif;
}

    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

.button:hover span {
    padding-right: 12px;
}

    .button:hover span:after {
        opacity: 1;
        right: 0;
    }

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

.largebutton {
    background-color: #A7A7A7;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    width: auto;
    max-width: 100%;
    height: auto;
}

.largebutton1:hover {
    background-color: #555555;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.largebutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

    .largebutton span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

.largebutton:hover span {
    padding-right: 12px;
}

    .largebutton:hover span:after {
        opacity: 1;
        right: 0;
    }

a.largebutton {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: #880505;
    color: black;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.vl {
    border-top: 6px solid black;
    height: 20px;
}

/*.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}*/

.menu_icon {
    width: 14px;
    height: 14px;
}

    @keyframes fade {
        from {
            opacity: 1.0;
        }

        50% {
            opacity: 0.4;
        }

        to {
            opacity: 1.0;
        }
    }

    @-webkit-keyframes fade {
        from {
            opacity: 1.0;
        }

        50% {
            opacity: 0.4;
        }

        to {
            opacity: 1.0;
        }
    }

    .blink {
        animation: fade 3000ms infinite;
        -webkit-animation: fade 3000ms infinite;
    }
